./IE616/books/*

./IE616/notes/week1/note.log
./IE616/notes/week1/note.aux
./IE616/notes/ganesh's/*

./CS747/cs747s2025-undertaking-output.pdf

Final Marksheet_calucated_annotations.pdf
Final Marksheet_calucated_annotations.xlsx

